<div class="all-posts-container">
  <ion-content>
    <ion-list>
      <ion-card *ngFor="let post of allLoadedPosts">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col class="ion-padding" size="auto">
              <ion-avatar
                style="cursor: pointer"
                [routerLink]="['/', 'home', post.author.id]"
              >
                <ion-img [src]="$any(post).author.imagePath"></ion-img>
              </ion-avatar>
            </ion-col>

            <ion-col>
              <div
                class="full-name"
                style="cursor: pointer"
                [routerLink]="['/', 'home', post.author.id]"
              >
                {{ post.author.firstName }} {{ post.author.lastName }}
              </div>
              <div class="role">Full-stack Developer</div>
              <div class="meta-data">
                1d<ion-icon name="ellipse"></ion-icon> Edited
                <ion-icon name="ellipse"></ion-icon>
                <ion-icon name="globe-outline" color="dark"></ion-icon>
              </div>
            </ion-col>

            <ion-col
              *ngIf="(userId$ | async) === post.author.id"
              style="margin-top: -32px"
              class="ion-text-right"
            >
              <ion-icon
                (click)="presentUpdateModal(post.id)"
                name="create-outline"
                color="dark"
                style="font-size: 18px; cursor: pointer"
              ></ion-icon>
              <ion-icon
                (click)="deletePost(post.id)"
                name="trash-outline"
                color="danger"
                style="font-size: 18px; cursor: pointer"
              ></ion-icon>
            </ion-col>
          </ion-row>

          <p class="post-body">
            {{ post.body }}
          </p>

          <ion-row>
            <ion-button color="medium" fill="clear">
              <ion-icon name="thumbs-up-outline"></ion-icon>
              <ion-text>Like</ion-text>
            </ion-button>

            <ion-button color="medium" fill="clear">
              <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              <ion-text>Comment</ion-text>
            </ion-button>

            <ion-button color="medium" fill="clear">
              <ion-icon name="arrow-redo-outline"></ion-icon>
              <ion-text>Share</ion-text>
            </ion-button>

            <ion-button color="medium" fill="clear">
              <ion-icon name="paper-plane-outline"></ion-icon>
              <ion-text>Send</ion-text>
            </ion-button>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  <div class="hide-scroll"></div>
</div>
